body
{
    background: #F7F7F7;
}

.header
{
    background: #00000080 url(../images/main_background.png);
    background-size: cover;
    height: 500px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer
{
    background: #232F3899 url(../images/bottom_background.png);
    background-size: cover;
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
}

.escape
{
    color: #ffffff;
    font: 26px/1 "Lora";
}

.header-nav__link
{
    color: #ffffff;
    font: 12px/1.6 "Oxygen";
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 20px;
    letter-spacing: 0.6px;
}

.header__esc-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 40px;
    margin-top: 17px;
    margin-bottom: 120px;
}

.header__title
{
    font: 50px/1 "Lora";
    margin: 0px;
    letter-spacing: 2px;
}

.header__subtitle
{
    color: #ffffffa1;
    font: 17px/1 "Oxygen";
    margin-top: 20px;
    margin-bottom: 31px;
}

.header__button
{
    display: inline-block;
    max-height: 44px;
    height: 100%;
    max-width: 167px;
    width: 100%;
    text-align: center;
    background: #DD783F;
    border-radius: 3px;
    font: 13px/1.5 "Oxygen";
}

.nav
{
    height: 65px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.nav__link
{
    color: #768088;
    font: 14px/1.4 "Lora";
    text-decoration: none;
    margin: 0px 45px;
}


.footer-nav__link
{
    color: #FFFFFF99;
    font: 12px/1.6 "Oxygen";
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 10px;
}

.body__title
{
    display: inline-block;
    width: 100%;
    text-align: center;
    font: 20px/1.35 "Oxygen";
    letter-spacing: 2px;
    padding-bottom: 16px;
    border-bottom: solid 1px #DEDEDE;
}

.featured-post__name
{
    font: 27px/1 "Lora";
    color: #ffffff;
    margin: 0px;
}

.featured-post__text
{
    font: 14px/1.78 "Oxygen";
    color: #FFFFFFB2;
    margin: 0px;
    margin-top: 6px;

}

.featured-post__main-info
{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    margin-top: 17px;
}

.featured-post__info
{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.featured-post__name-date
{
    font: 12px/1 "Oxygen";
    color: #FFFFFFB2;
}

.most-recent-post__name
{
    font: 16px/1.3 "Lora";
    color: #101315;
    margin: 0px;
    margin-left: 13px;
    margin-top: 14px;
}

.most-recent-post__text
{
    font: 13px/1.46 "Oxygen";
    color: #7A7A7A;
    margin: 0px;
    margin-left: 13px;
    margin-bottom: 32px;
}

.most-recent-post__main-info
{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background: #FCFCFC;
    padding: 11px;
    border-top: solid 1px #EFEFEF;
    margin: 0px;
}

.most-recent-post__info
{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.most-recent-post__name-date
{
    font: 12px/1 "Oxygen";
    color: #999999;
}

.most-recent-posts__post
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3px;
    height: 291px;
    width: 296px;
    background: #FFFFFF;
}

.mat-vogels-face
{
    background: #ffffff url(../images/Mat_Vogels.png);
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
}

.william-wong-face
{
    background: #ffffff url(../images/William_Wong.png);
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-right: 10px;
}

.featured-posts__post
{
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: cover;
    border-radius: 3px;
    height: 280px;
    width: 460px;
    box-sizing: border-box;
    padding: 20px;
}

.the-road-ahead-post
{
    background: #ffffff url(../images/the_road_ahead.png);
}

.from-top-down
{
    background: #ffffff url(../images/from_top_down.png);
}

.still-standing-tall
{
    background: #D6D6D6 url(../images/still_standing_tall.png);
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}

.sunny-side-up
{
    background: #D6D6D6 url(../images/sunny_side_up.png);
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}

.water-falls
{
    background: #D6D6D6 url(../images/water_falls.png);
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}

.through-the-mist
{
    background: #D6D6D6 url(../images/through_the_mist.png);
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}

.awaken-early
{
    background: #D6D6D6 url(../images/awaken_early.png);
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}

.try-it-always
{
    background: #D6D6D6 url(../images/try_it_always.png);
    width: 296px;
    height: 150px;
    border-bottom: solid 1px #E5E5E5;
}