.top
{
    background-image: url(../images/main_background.png);
    background-size: cover;
    max-height: 500px;
    height: 100%;
    color: #ffffff;
}

.button
{
    background: #DD783F;
    border-radius: 3px;
    font: 13px/1.5 "Oxygen";
}

.bottom
{
    background-image: url(../images/bottom_background.png);
    background-size: cover;
}

.link_bottom
{
    color: #FFFFFF99;
    font: 12px/1.6 "Oxygen";
}

.link
{
    color: #ffffff;
    font: 12px/1.6 "Oxygen";
}

.link1
{
    color: #768088;
    font: 14px/1.4 "Lora";
}

.title
{
    padding-top: 177px;
    font: 50px/1 "Lora";
    text-align: center;
}

.title2
{
    color: #ffffffa1;
    font: 17px/1.17 "Oxygen";
    text-align: center;
    padding-bottom: 232px;
}

.escape
{
    color: #ffffff;
    font: 26px/1 "Lora";
}

.the_road_ahead
{
    display: inline-block;
    background: #ffffff url(../images/the_road_ahead.png);
    background-size: cover;
    border-radius: 3px;
    color: #ffffff;
    max-width: 460px;  
    max-height: 280px;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.post_name
{
    border: solid 1px;
    font: 27px/1 "Lora";
}

.post_name2
{
    color: #101315;
    font: 16px/1.3 "Lora";
}

.post_text
{
    border: solid 1px;
    color: #FFFFFFB2;
    font: 14px/1.8 "Oxygen";
}

.post_info
{
    border: solid 1px;
    font: 12px/2.9 "Oxygen";
    color: #FFFFFFB2;
}

.post_info2
{
    font: 12px/2.9 "Oxygen";
    color: #999999;
}

.face
{
    border: solid 1px;
    border-radius: 50%;
}