body
{
    color: #F7F7F7;
}

.top
{
    background: #F5F5F5;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link
{
    color: #2E2E2E;
    font: 12px/1.6 "Oxygen";
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 20px;
    letter-spacing: 0.6px;
}

.esc-nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 40px;
    margin-top: 17px;
    margin-bottom: 99px;
}

.picture
{
    height: 534px;
    background: #ffffff url(../images/The_road_ahead_background.png);
    background-size: cover;
    border-radius: 3px;
}

.bottom
{
    background: #232F3899 url(../images/bottom_background.png);
    background-size: cover;
    height: 89px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 250px;
}

.text
{
    color: #101315;
    font: 24px/1.46 "Oxygen";
    margin: 140px 240px;
}

.escape
{
    color: #2E2E2E;
    font: 26px/1 "Lora";
}

.bottom_escape
{
    color: #ffffff;
    font: 26px/1 "Lora";
}

.title
{
    color: #2E2E2E;
    font: 50px/1 "Lora";
    letter-spacing: 2px;
    margin: 0px;
}

.title2
{
    color: #2E2E2EA1;
    font: 17px/1.17 "Oxygen";
    margin-top: 20px;
    margin-bottom: 113px;
}

.link_bottom
{
    color: #FFFFFF99;
    font: 12px/1.6 "Oxygen";
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 10px;
}